$basic_color: #292548;

@mixin transition($property, $time, $effect, $delay){

	-webkit-transition: $property $time $effect $delay;
	transition: $property $time $effect $delay;
}

@mixin translate($x, $y){

	-webkit-transform: translateZ(0px) translate($x, $y);
	-ms-transform: translateZ(0px) translate($x, $y); 
	transform: translateZ(0px) translate($x, $y);
}

@mixin transform_rotate($value){

    -ms-transform: rotate($value);
    -webkit-transform: rotate($value);
    transform: rotate($value);
}

@mixin transform_origin($parametr1, $parametr2){

	-ms-transform-origin: $parametr1  $parametr2;
	-webkit-transform-origin: $parametr1  $parametr2;
	transform-origin: $parametr1  $parametr2;
}

@mixin skew($value1){

	-ms-transform: skew($value1);
	-webkit-transform: skew($value1);
	-o-transform: skew($value1);
	transform: skew($value1);
}

@mixin scale($value1){
	-webkit-transform: scale($value1);
	-ms-transform: scale($value1);
	transform: scale($value1);
}

@mixin translate_scale($x, $y, $value1){
	
	-webkit-transform: translateZ(0px) translate($x, $y) scale($value1);
	-ms-transform: translateZ(0px) translate($x, $y) scale($value1); 
	transform: translateZ(0px) translate($x, $y) scale($value1);
}

@mixin d($x, $y, $value1, $value2){
	
	-webkit-transform: translateZ(0px) translate($x, $y) scale($value1) rotateZ($value2);
	-ms-transform: translateZ(0px) translate($x, $y) scale($value1)  rotateZ($value2);
	transform: translateZ(0px) translate($x, $y) scale($value1)  rotateZ($value2);
}

@mixin flask_element($background, $width, $height, $enable_top, $value1, $enable, $value2, $z_index){

    background-color: $background;
    width: $width;
    height: $height;
	
    position: absolute;
	z-index: $z_index;
	
	@if $enable == 'right'{

		right: $value2;

    }@else{
        left: $value2;
    }
   
	@if $enable_top == 'top'{

		top: $value1;

    }@else{
        bottom: $value1;
    }
}

@mixin animation($name, $duration, $delay){

	-webkit-animation-name: $name; 
	animation-name: $name;
	
	-webkit-animation-duration: $duration;
	animation-duration: $duration;
	
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	
    -webkit-animation-delay: $delay;
    animation-delay: $delay;
}

  
*{
	margin: 0;
	padding: 0;
	border: none;
}

body{
	background-color: $basic_color;
}

.flask{
    height: 405px;
    width: 368px;
	position: absolute;
	bottom: 0;
}

.flask_throat{

	overflow: hidden;
	
    height: 155px;
	width: 62px;
    
    position: absolute;
	left: 152px;
    top: 0;
}

.flask_throat_one{

    position: absolute;
	
    @include transform_rotate(24deg);
    @include transform_origin(right, top);
	@include flask_element(#5c30ae, 150px, 50px, top, 110px, right, -26px, 3);
 	@include animation(flask6, 5s, 0s);
}

.flask_throat_two{

    position: absolute;
	
    @include transform_rotate(20deg);
    @include transform_origin(right, top);
	@include flask_element(#37acdd, 150px, 60px, top, 35px, right, -35px, 3);
 	@include animation(flask5, 5s, 0s);
}

.flask_throat_three{
    position: absolute;
	@include flask_element(#5c30ae, 100%, 50px, bottom,0, right, 0, 3);
 	@include animation(flask6, 5s, 0s);
}

.flask_throat_four{

    position: absolute;
	
    @include transform_rotate(20deg);
    @include transform_origin(right, top);
	@include flask_element(#6c49ac, 150px, 20px, top, 100px, right, -45px, 3);
 	@include animation(flask7, 5s, 0s);
}

.flask_bottom{
    bottom: 0;
    position: absolute;
}

.big_triangle{

    overflow: hidden;
    position: relative;
    width: 368px;
	height: 250px;
	
	&:before, &:after{
		content: "";
		display: block;
		
		width: 0;
		height: 0;
		border-top: 250px solid $basic_color;
		
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	&:before{
		border-right: 152px solid transparent;
		left: 0;
	}

	&:after{
		border-left: 154px solid transparent;
		right: 0;
	}
}

.flask_bottom_one{

	width: 0;
    height: 0;

    border-bottom: 55px solid #3a2481;
    border-left: 32px solid transparent;
    border-right: 42px solid transparent;

    position: absolute;
    bottom: 0;
	z-index: 4;
	
	@include animation(flask1,5s, 0s)
}

.flask_bottom_two{

    border-bottom: 165px solid #4266c0;
    border-left: 93px solid transparent;
    border-right: 200px solid transparent;
	
	width: 0;
    height: 0;
	
	position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
	
	@include animation(flask2,5s, 0s)
}

.flask_bottom_five{

    position: absolute;
	
	@include flask_element(#4248c0, 100%, 75px, bottom, 18px, left, 50px, 3);
    @include transform_rotate(24deg);
    @include transform_origin(left, top);
	@include animation(flask3, 5s, 0s);
	
}

.flask_bottom_six{
    position: absolute;
	@include flask_element(#37acdd, 100%, 170px, bottom, 0, right, 0, 1);
	@include animation(flask4, 5s, 0s);
}

.flask_bottom_seven{

    position: absolute;
	
	@include flask_element(#1493c8, 100%, 218px, bottom, 24px, right, -95px, 3);
	@include transform_rotate(24deg);
    @include transform_origin(right, top);
	@include animation(flask5, 5s, 0s);
}

.flask_bottom_eight{
    position: absolute;
	@include flask_element(#5c30ae, 100%, 50px, bottom, 218px, right, -95px, 3);
	@include transform_rotate(-12deg);
    @include transform_origin(left, top);
	@include animation(flask6, 5s, 0s);
}

.flask_small{

	width: 200px;
	height: 230px;
	
	.flask_throat{
	
		height: 99px;
		width: 35px;
		overflow: hidden;
		
		position: absolute;
		top: 0;
		left: 82px;
	}
	
	.flask_throat_one{
	
		background-color: #5c30ae;
		height: 50px;
		width: 150px;
		
		position: absolute;
		right: -26px;
		top: 75px;
		z-index: 3;
		
		transform: rotate(24deg);
		transform-origin: right top 0;
	}
	
	.flask_throat_two{
	
		background-color: #37acdd;
		height: 25px;
		width: 75px;
		
		position: absolute;
		right: -30px;
		top: 37px;
		z-index: 3;
		
		transform-origin: right top 0;
	}
	
	.flask_throat_three{
		
		height: 20px;
		width: 100%;
		
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 3;
	}

	.flask_throat_four{
		top: 60px;
		z-index: 2;
	}
	
	.big_triangle{
	
		width: 200px;
		height: 135px;
		
		&:before, &:after{
			border-top: 135px solid $basic_color;
		}
		
		&:before{
			border-right: 82px solid transparent;
		}

		&:after{
			border-left: 84px solid transparent;
		}
	}
	
	.flask_bottom_one{
		border-bottom: 35px solid #3a2481;
		border-left: 15px solid transparent;
		border-right: 24px solid transparent;
	}
	
	.flask_bottom_two{
		border-bottom: 94px solid #4266c0;
		border-left: 44px solid transparent;
		border-right: 113px solid transparent;
	}

	.flask_bottom_five{
		bottom: -21px;
		left: 25px;
	}
	
	.flask_bottom_six{
		height: 90px;
	}
	
	.flask_bottom_seven{
		bottom: 26px;
		height: 85px;
		right: -14px;
	}
	

	.flask_bottom_eight{
		bottom: 107px;
		height: 20px;
		right: 0;
	}
}

.flask_right{
	right: 3%;
}

.flask_left{
	left: 3%;
}

@-webkit-keyframes flask1{

	0%{
		border-bottom-color: #3a2481;
	}

	25%{
		border-bottom-color: #242781;
	}
		
	50%{
		border-bottom-color: #244081;
	}
	
	75%{
		border-bottom-color: #242781;
	}
}

@keyframes flask1{

	0%{
		border-bottom-color: #3a2481;
	}

	25%{
		border-bottom-color: #242781;
	}
		
	50%{
		border-bottom-color: #244081;
	}
	
	75%{
		border-bottom-color: #242781;
	}
}

@-webkit-keyframes flask2{

	0%{
		border-bottom-color: #4266c0;
	}

	25%{
		border-bottom-color: #4287c0;
	}
		
	50%{
		border-bottom-color: #42a8c0;
	}
	
	75%{
		border-bottom-color: #4287c0;
	}
}

@keyframes flask2{

	0%{
		border-bottom-color: #4266c0;
	}

	25%{
		border-bottom-color: #4287c0;
	}
		
	50%{
		border-bottom-color: #42a8c0;
	}
	
	75%{
		border-bottom-color: #4287c0;
	}
}

@-webkit-keyframes flask3{

	0%{
		background-color: #4248c0;
	}

	25%{
		background-color: #4269c0;
	}
		
	50%{
		background-color: #428ac0;
	}
	
	75%{
		background-color: #4269c0;
	}
}

@keyframes flask3{

	0%{
		background-color: #4248c0;
	}

	25%{
		background-color: #4269c0;
	}
		
	50%{
		background-color: #428ac0;
	}
	
	75%{
		background-color: #4269c0;
	}
}

@-webkit-keyframes flask4{

	0%{
		background-color: #37acdd;
	}

	25%{
		background-color: #37d8dd;
	}
		
	50%{
		background-color: #37ddb5;
	}
	
	75%{
		background-color: #37d8dd;
	}
}

@keyframes flask4{

	0%{
		background-color: #37acdd;
	}

	25%{
		background-color: #37d8dd;
	}
		
	50%{
		background-color: #37ddb5;
	}
	
	75%{
		background-color: #37d8dd;
	}
}

@-webkit-keyframes flask5{

	0%{
		background-color: #1493c8;
	}

	25%{
		background-color: #14c2c8;
	}
		
	50%{
		background-color: #14c89d;
	}
	
	75%{
		background-color: #14c2c8;
	}
}

@keyframes flask5{

	0%{
		background-color: #1493c8;
	}

	25%{
		background-color: #14c2c8;
	}
		
	50%{
		background-color: #14c89d;
	}
	
	75%{
		background-color: #14c2c8;
	}
}

@-webkit-keyframes flask6{

	0%{
		background-color: #5c30ae;
	}

	25%{
		background-color: #3a30ae;
	}
		
	50%{
		background-color: #3048ae;
	}
	
	75%{
		background-color: #3a30ae;
	}
}

@keyframes flask6{

	0%{
		background-color: #5c30ae;
	}

	25%{
		background-color: #3a30ae;
	}
		
	50%{
		background-color: #3048ae;
	}
	
	75%{
		background-color: #3a30ae;
	}
}

@-webkit-keyframes flask7{

	0%{
		background-color: #6c49ac;
	}

	25%{
		background-color: #5249ac;
	}
		
	50%{
		background-color: #495aac;
	}
	
	75%{
		background-color: #5249ac;
	}
}

@keyframes flask7{

	0%{
		background-color: #6c49ac;
	}

	25%{
		background-color: #5249ac;
	}
		
	50%{
		background-color: #495aac;
	}
	
	75%{
		background-color: #5249ac;
	}
}

.flask_center{
	right: 34%;
	
	.circle {
		margin-left: -5px;
	}
	
	.little_circle_white{
		left: 55%;
		@include animation(circle, 3000ms, 0ms);
	}
	
	.little_circle_purpure{
		left: 50%;
		@include animation(circle, 3000ms, 200ms);
	}
	
	.little_circle_blue{
		left: 45%;
		@include animation(circle, 3000ms, 500ms);
	}
	
	.element5{
		left: 50%;
		@include animation(circle, 3000ms, 1400ms);
	}
}

.flask_left{

	.small_circle{
		@include animation(circle, 2000ms, 100ms);
	}
	
	.little_circle_white{
		left: 48%;
		@include animation(circle, 2000ms, 0ms);
	}

	.little_circle_purpure{
		left: 50%;
		@include animation(circle, 2000ms, 200ms);
	}
	
	.little_circle_blue{
		left: 45%;
		@include animation(circle, 2000ms, 300ms);
	}
	
	.element4{
		left: 45%;
		@include animation(circle, 2000ms, 600ms);
	}
	
	.element5{
		left: 53%;
		top: 5%;
		@include animation(circle, 2000ms, 900ms);
	}
	
	.element6{
		top: 5%;
		@include animation(circle, 3000ms, 1000ms);
	}
}

.flask_right{

	.small_circle{
		@include animation(circle, 4200ms, 400ms);
	}
	
	.little_circle_white{
		left: 48%;
		@include animation(circle, 4200ms, 0ms);
	}

	.little_circle_purpure{
		left: 52%;
		@include animation(circle, 4200ms, 200ms);
	}
	
	.little_circle_blue{
		left: 45%;
		@include animation(circle, 4200ms, 600ms);
	}
}

.circle{

	border-radius: 50%;
	border: 1px solid #fff;
	
	position: absolute;
	left: 50%;
	
	margin: 25px 0 0 -13px;
	@include animation(circle, 5s, 0s);
}
 
.little_circle{
	width: 5px;
	height: 5px;
	margin-left: 4px;
}

.little_circle_white{
	background-color: #fff;
}

.little_circle_purpure{
	background-color: #6c49ac;
	border: 1px solid #6c49ac;
}

.little_circle_blue{
	background-color: #117fba;
	border: 1px solid #117fba;
}

.small_circle{
	width: 20px;
	height: 20px;
}

.middle_circle{
	width: 45px;
	height: 45px;
	margin-left: 2px;
}

.d{
	width: 120px;
	height: 120px;
	
	border-width: 3px;
	background: url("../images/sprites.png") no-repeat -35% 45%;
	
	@include d(-50%, -160px, 0, 0);
	@include animation(animation_d, 5500ms, 900ms);
}

.l{

	width: 45px;
	height: 45px;
	background: url("../images/sprites.png") no-repeat 110% 45%;
	
	position: absolute;
	left: 48%;
	
	margin: 25px 0 0 -13px;
	@include animation(rotate, 5000ms, 400ms);
}

@-webkit-keyframes circle{
	0%{
		@include translate_scale(-50%, 20px, 1);
		opacity: 1
	}

	85%{
		opacity: 0
	}
	
	100%{
		@include translate_scale(-50%, -200px, 0);
		opacity: 0
	}
}

@keyframes circle{
	0%{
		@include translate_scale(-50%, 20px, 1);
		opacity: 1
	}

	85%{
		opacity: 0
	}
	
	100%{
		@include translate_scale(-50%, -200px, 0);
		opacity: 0
	}
}

@-webkit-keyframes rotate{

	0%{
		@include d(0%, 20px, 1, 0);
		opacity: 1
	}
	
	100%{
		opacity: 0;
		@include d(0%, -200px, 1, 360deg);
	}
}

@keyframes rotate{

	0%{
		@include d(0%, 20px, 1, 0);
		opacity: 1
	}
	
	100%{
		opacity: 0;
		@include d(0%, -200px, 1, 360deg);
	}
}

@keyframes animation_d{

	0%{
		@include d(-50%, -160px, 0, 0);
		opacity: 1
	}
	
	100%{
		opacity: 0;
		@include d(-50%, -200px, 1, 360deg);
	}
}

@-webkit-keyframes animation_d{

	0%{
		@include d(-50%, -160px, 0, 0);
		opacity: 1
	}
	
	100%{
		opacity: 0;
		@include d(-50%, -200px, 1, 360deg);
	}
}