$basic_color: #292548;

@mixin transition($property, $time, $effect, $delay){
	-webkit-transition: $property $time $effect $delay;
	-webkit-transition-delay:  $time $delay;
	transition: $property $time $effect $delay;
}

@mixin translate($x, $y) {
	-webkit-transform: translateZ(0px) translate($x, $y);
	-ms-transform: translateZ(0px) translate($x, $y); 
	transform: translateZ(0px) translate($x, $y);
}

@mixin transform_rotate($value){
    -ms-transform: rotate($value);
    -webkit-transform: rotate($value);
    transform: rotate($value);
}

@mixin transform_origin($parametr1, $parametr2){
	-ms-transform-origin: $parametr1  $parametr2;
	-webkit-transform-origin: $parametr1  $parametr2;
	transform-origin: $parametr1  $parametr2;
}

@mixin skew($value1){
	-ms-transform: skew($value1);
	-webkit-transform: skew($value1);
	-o-transform: skew($value1);
	transform: skew($value1);
}

@mixin scale($value1){
	-webkit-transform: scale($value1);
	-ms-transform: scale($value1);
	transform: scale($value1);
}

@mixin flask_element($background, $width, $height, $enable_top, $value1, $enable, $value2, $z_index){

    background-color: $background;
    width: $width;
    height: $height;
	
    position: absolute;
	z-index: $z_index;
	
	@if $enable == 'right' {

		right: $value2;

   } @else {
        left: $value2;
   }
   
	@if $enable_top == 'top' {

		top: $value1;

   } @else {
        bottom: $value1;
   }
}

@mixin animation( $duration){

	-webkit-animation-name: flask; 
	animation-name: flask;
	
	-webkit-animation-duration: $duration;
	animation-duration: $duration;
}

@mixin settings_animation( $property, $value1, $value2, $value3){
	
	@-webkit-keyframes flask {
		0%{
			$property: $value1;
		}

		50%{
			$property: $value2;
		}
			
		100%{
			$property: $value3;
		}
	}

	@keyframes flask {
		0%{
			$property: $value1;
		}

		50% {
			$property: $value2;
		}
			
		100% {
			$property: $value3;
		}
	}
}

*{
	margin: 0;
	padding: 0;
	border: none;
}

body{
	background-color: $basic_color;
}

.container{
	margin: 0 auto;
	width: 1330px;
	position: relative;
}

.flask {
    height: 405px;
    width: 368px;
	position: absolute;
	bottom: 0;
}

.flask_throat {

    background-color: #6c49ac;
	overflow: hidden;
	
    height: 155px;
	width: 62px;
    
    position: absolute;
	left: 152px;
    top: 0;
}

.flask_throat_one {
    position: absolute;
    @include transform_rotate(24deg);
    @include transform_origin(right, top);
	@include flask_element(#5c30ae, 150px, 50px, top, 110px, right, -26px, 3);
}

.flask_throat_two {
    position: absolute;
    @include transform_rotate(30deg);
    @include transform_origin(right, top);
	@include flask_element(#37acdd, 150px, 70px, top, 25px, right, -35px, 3);
}

.flask_throat_three {
    position: absolute;
	@include flask_element(#5c30ae, 100%, 50px, bottom,0, right, 0, 3);
}

.flask_throat_four {

    position: absolute;
    @include transform_rotate(20deg);
    @include transform_origin(right, top);
	@include flask_element($basic_color, 150px, 50px, top, -13px, right, -45px, 3);
}

.flask_bottom{
    bottom: 0;
    position: absolute;
}

.big_triangle{
    overflow: hidden;
    position: relative;
    width: 368px;
	height: 250px;
	
	&:before, &:after{
		content: "";
		display: block;
		
		width: 0;
		height: 0;
		border-top: 250px solid $basic_color;
		
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	&:before {
		border-right: 152px solid transparent;
		left: 0;
	}

	&:after {
		border-left: 154px solid transparent;
		right: 0;
	}
}

.flask_bottom_one{

	width: 0;
    height: 0;

    border-bottom: 55px solid #3a2481;
    border-left: 32px solid transparent;
    border-right: 42px solid transparent;

    position: absolute;
    bottom: 0;
	z-index: 4;
	
	
}

.flask_bottom_two{

    border-bottom: 165px solid #4266c0;
    border-left: 93px solid transparent;
    border-right: 200px solid transparent;
	
	width: 0;
    height: 0;
	
	position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.flask_bottom_five {
    position: absolute;
	@include flask_element(#4248c0, 100%, 75px, bottom, 18px, left, 50px, 3);
    @include transform_rotate(24deg);
    @include transform_origin(left, top);
	@include animation(1.5s);
	
}

@include settings_animation(background-color, #3a2481, #242781, #244081);

.flask_bottom_six{
    position: absolute;
	@include flask_element(#37acdd, 100%, 170px, bottom, 0, right, 0, 1)
}

.flask_bottom_seven {
    position: absolute;
	@include flask_element(#1493c8, 100%, 218px, bottom, 24px, right, -95px, 3);
	@include transform_rotate(24deg);
    @include transform_origin(right, top);
}

.flask_bottom_eight {
    position: absolute;
	@include flask_element(#5c30ae, 100%, 50px, bottom, 218px, right, -95px, 3);
	@include transform_rotate(-12deg);
    @include transform_origin(left, top);
}

.flask_small{

	width: 200px;
	height: 230px;
	
	.flask_throat {
		background-color: #6c49ac;
		height: 99px;
		left: 82px;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 35px;
	}
	
	.flask_throat_one {
		background-color: #5c30ae;
		height: 50px;
		position: absolute;
		right: -26px;
		top: 75px;
		transform: rotate(24deg);
		transform-origin: right top 0;
		width: 150px;
		z-index: 3;
	}
	
	.flask_throat_two {
		background-color: #37acdd;
		height: 55px;
		position: absolute;
		right: -30px;
		top: 11px;
		transform: rotate(30deg);
		transform-origin: right top 0;
		width: 60px;
		z-index: 3;
	}
	
	.flask_throat_three {
		background-color: #5c30ae;
		bottom: 0;
		height: 20px;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 3;
	}

	
	.big_triangle{
		width: 200px;
		height: 135px;
		
		&:before, &:after{
			border-top: 135px solid $basic_color;
		}
		
		&:before {
			border-right: 82px solid transparent;
		}

		&:after {
			border-left: 84px solid transparent;
		}
	}
	
	.flask_bottom_one {
		border-bottom: 35px solid #3a2481;
		border-left: 15px solid transparent;
		border-right: 24px solid transparent;
	}
	
	.flask_bottom_two {
		border-bottom: 94px solid #4266c0;
		border-left: 44px solid transparent;
		border-right: 113px solid transparent;
	}

	.flask_bottom_five {
		bottom: -21px;
		left: 25px;
	}
	
	.flask_bottom_six {
		height: 90px;
	}
	
	.flask_bottom_seven {
		bottom: 26px;
		height: 85px;
		right: -14px;
	}
	

	.flask_bottom_eight {
		bottom: 107px;
		height: 20px;
		right: 0;
	}
}

.flask_right{
	right: 3%;
}

.flask_left{
	left: 3%;
}

/* @-webkit-keyframes border_background {
	0% {
		border-color: #3a2481;
	}

	50% {
		border-color: #242781;
	}
		
	100% {
		border-color: #244081;
	}
}

@keyframes border_background {
	0% {
		border-color: #3a2481;
	}

	50% {
		border-color: #242781;
	}
		
	100% {
		border-color: #244081;
	}
} */

