* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #292548;
}

.container {
  margin: 0 auto;
  width: 1330px;
  position: relative;
}

.flask {
  height: 405px;
  width: 368px;
  position: absolute;
  bottom: 0;
}

.flask_throat {
  background-color: #6c49ac;
  overflow: hidden;
  height: 155px;
  width: 62px;
  position: absolute;
  left: 152px;
  top: 0;
  -webkit-animation-name: flask7;
  animation-name: flask7;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_throat_one {
  position: absolute;
  -ms-transform: rotate(24deg);
  -webkit-transform: rotate(24deg);
  transform: rotate(24deg);
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  background-color: #5c30ae;
  width: 150px;
  height: 50px;
  position: absolute;
  z-index: 3;
  right: -26px;
  top: 110px;
  -webkit-animation-name: flask6;
  animation-name: flask6;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_throat_two {
  position: absolute;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  background-color: #37acdd;
  width: 150px;
  height: 70px;
  position: absolute;
  z-index: 3;
  right: -35px;
  top: 25px;
  -webkit-animation-name: flask5;
  animation-name: flask5;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_throat_three {
  position: absolute;
  background-color: #5c30ae;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  -webkit-animation-name: flask6;
  animation-name: flask6;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_throat_four {
  position: absolute;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  background-color: #292548;
  width: 150px;
  height: 50px;
  position: absolute;
  z-index: 3;
  right: -45px;
  top: -13px;
}

.flask_bottom {
  bottom: 0;
  position: absolute;
}

.big_triangle {
  overflow: hidden;
  position: relative;
  width: 368px;
  height: 250px;
}
.big_triangle:before, .big_triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 250px solid #292548;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.big_triangle:before {
  border-right: 152px solid transparent;
  left: 0;
}
.big_triangle:after {
  border-left: 154px solid transparent;
  right: 0;
}

.flask_bottom_one {
  width: 0;
  height: 0;
  border-bottom: 55px solid #3a2481;
  border-left: 32px solid transparent;
  border-right: 42px solid transparent;
  position: absolute;
  bottom: 0;
  z-index: 4;
  -webkit-animation-name: flask1;
  animation-name: flask1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_bottom_two {
  border-bottom: 165px solid #4266c0;
  border-left: 93px solid transparent;
  border-right: 200px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  -webkit-animation-name: flask2;
  animation-name: flask2;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_bottom_five {
  position: absolute;
  background-color: #4248c0;
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 3;
  left: 50px;
  bottom: 18px;
  -ms-transform: rotate(24deg);
  -webkit-transform: rotate(24deg);
  transform: rotate(24deg);
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-animation-name: flask3;
  animation-name: flask3;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_bottom_six {
  position: absolute;
  background-color: #37acdd;
  width: 100%;
  height: 170px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  -webkit-animation-name: flask4;
  animation-name: flask4;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_bottom_seven {
  position: absolute;
  background-color: #1493c8;
  width: 100%;
  height: 218px;
  position: absolute;
  z-index: 3;
  right: -95px;
  bottom: 24px;
  -ms-transform: rotate(24deg);
  -webkit-transform: rotate(24deg);
  transform: rotate(24deg);
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-animation-name: flask5;
  animation-name: flask5;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_bottom_eight {
  position: absolute;
  background-color: #5c30ae;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 3;
  right: -95px;
  bottom: 218px;
  -ms-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-animation-name: flask6;
  animation-name: flask6;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkitanimation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flask_small {
  width: 200px;
  height: 230px;
}
.flask_small .flask_throat {
  background-color: #6c49ac;
  height: 99px;
  left: 82px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 35px;
}
.flask_small .flask_throat_one {
  background-color: #5c30ae;
  height: 50px;
  position: absolute;
  right: -26px;
  top: 75px;
  transform: rotate(24deg);
  transform-origin: right top 0;
  width: 150px;
  z-index: 3;
}
.flask_small .flask_throat_two {
  background-color: #37acdd;
  height: 55px;
  position: absolute;
  right: -30px;
  top: 11px;
  transform: rotate(30deg);
  transform-origin: right top 0;
  width: 60px;
  z-index: 3;
}
.flask_small .flask_throat_three {
  background-color: #5c30ae;
  bottom: 0;
  height: 20px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 3;
}
.flask_small .big_triangle {
  width: 200px;
  height: 135px;
}
.flask_small .big_triangle:before, .flask_small .big_triangle:after {
  border-top: 135px solid #292548;
}
.flask_small .big_triangle:before {
  border-right: 82px solid transparent;
}
.flask_small .big_triangle:after {
  border-left: 84px solid transparent;
}
.flask_small .flask_bottom_one {
  border-bottom: 35px solid #3a2481;
  border-left: 15px solid transparent;
  border-right: 24px solid transparent;
}
.flask_small .flask_bottom_two {
  border-bottom: 94px solid #4266c0;
  border-left: 44px solid transparent;
  border-right: 113px solid transparent;
}
.flask_small .flask_bottom_five {
  bottom: -21px;
  left: 25px;
}
.flask_small .flask_bottom_six {
  height: 90px;
}
.flask_small .flask_bottom_seven {
  bottom: 26px;
  height: 85px;
  right: -14px;
}
.flask_small .flask_bottom_eight {
  bottom: 107px;
  height: 20px;
  right: 0;
}

.flask_right {
  right: 3%;
}

.flask_left {
  left: 3%;
}

@-webkit-keyframes flask1 {
  0% {
    border-bottom-color: #3a2481;
  }

  25% {
    border-bottom-color: #242781;
  }

  50% {
    border-bottom-color: #244081;
  }

  75% {
    border-bottom-color: #242781;
  }
}
@keyframes flask1 {
  0% {
    border-bottom-color: #3a2481;
  }

  25% {
    border-bottom-color: #242781;
  }

  50% {
    border-bottom-color: #244081;
  }

  75% {
    border-bottom-color: #242781;
  }
}
@-webkit-keyframes flask2 {
  0% {
    border-bottom-color: #4266c0;
  }

  25% {
    border-bottom-color: #4287c0;
  }

  50% {
    border-bottom-color: #42a8c0;
  }

  75% {
    border-bottom-color: #4287c0;
  }
}
@keyframes flask2 {
  0% {
    border-bottom-color: #4266c0;
  }

  25% {
    border-bottom-color: #4287c0;
  }

  50% {
    border-bottom-color: #42a8c0;
  }

  75% {
    border-bottom-color: #4287c0;
  }
}
@-webkit-keyframes flask3 {
  0% {
    background-color: #4248c0;
  }

  25% {
    background-color: #4269c0;
  }

  50% {
    background-color: #428ac0;
  }

  75% {
    background-color: #4269c0;
  }
}
@keyframes flask3 {
  0% {
    background-color: #4248c0;
  }

  25% {
    background-color: #4269c0;
  }

  50% {
    background-color: #428ac0;
  }

  75% {
    background-color: #4269c0;
  }
}
@-webkit-keyframes flask4 {
  0% {
    background-color: #37acdd;
  }

  25% {
    background-color: #37d8dd;
  }

  50% {
    background-color: #37ddb5;
  }

  75% {
    background-color: #37d8dd;
  }
}
@keyframes flask4 {
  0% {
    background-color: #37acdd;
  }

  25% {
    background-color: #37d8dd;
  }

  50% {
    background-color: #37ddb5;
  }

  75% {
    background-color: #37d8dd;
  }
}
@-webkit-keyframes flask5 {
  0% {
    background-color: #1493c8;
  }

  25% {
    background-color: #14c2c8;
  }

  50% {
    background-color: #14c89d;
  }

  75% {
    background-color: #14c2c8;
  }
}
@keyframes flask5 {
  0% {
    background-color: #1493c8;
  }

  25% {
    background-color: #14c2c8;
  }

  50% {
    background-color: #14c89d;
  }

  75% {
    background-color: #14c2c8;
  }
}
@-webkit-keyframes flask6 {
  0% {
    background-color: #5c30ae;
  }

  25% {
    background-color: #3a30ae;
  }

  50% {
    background-color: #3048ae;
  }

  75% {
    background-color: #3a30ae;
  }
}
@keyframes flask6 {
  0% {
    background-color: #5c30ae;
  }

  25% {
    background-color: #3a30ae;
  }

  50% {
    background-color: #3048ae;
  }

  75% {
    background-color: #3a30ae;
  }
}
@-webkit-keyframes flask7 {
  0% {
    background-color: #6c49ac;
  }

  25% {
    background-color: #5249ac;
  }

  50% {
    background-color: #495aac;
  }

  75% {
    background-color: #5249ac;
  }
}
@keyframes flask7 {
  0% {
    background-color: #6c49ac;
  }

  25% {
    background-color: #5249ac;
  }

  50% {
    background-color: #495aac;
  }

  75% {
    background-color: #5249ac;
  }
}
